USE [master]
GO
/****** Object:  Database [SistemaInternoOrt]    Script Date: 6/10/2023 15:11:11 ******/
CREATE DATABASE [SistemaInternoOrt]
ALTER DATABASE [SistemaInternoOrt] SET ANSI_NULL_DEFAULT OFF 
GO
USE [SistemaInternoOrt]
GO
/****** Object:  User [PF]    Script Date: 6/10/2023 15:11:11 ******/
CREATE USER [PF] FOR LOGIN [PF] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [PF]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 6/10/2023 15:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Objeto]    Script Date: 6/10/2023 15:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Objeto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[EnPrestamo] [bit] NOT NULL,
	[Fk_Categoria] [int] NOT NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Objeto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjetoReporte]    Script Date: 6/10/2023 15:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjetoReporte](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[Labo] [varchar](50) NOT NULL,
	[Fila] [int] NOT NULL,
	[Columna] [int] NOT NULL,
	[Lado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ObjetoReporte] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamo]    Script Date: 6/10/2023 15:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[FK_Objeto] [int] NOT NULL,
	[FK_Usuario] [int] NOT NULL,
	[FechaSolicitud] [date] NOT NULL,
	[FechaAceptado] [date] NULL,
	[FechaEntregado] [date] NULL,
	[FechaDevuelto] [date] NULL,
	[FK_Admin] [int] NOT NULL,
 CONSTRAINT [PK_Prestamo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reporte]    Script Date: 6/10/2023 15:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reporte](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[Fk_Usuario] [int] NOT NULL,
	[Fk_ObjetoReporte] [int] NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Reporte] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 6/10/2023 15:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [bit] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Dni] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([Id], [Nombre]) VALUES (1, N'Categoria 1')
INSERT [dbo].[Categoria] ([Id], [Nombre]) VALUES (2, N'Categoria 2')
INSERT [dbo].[Categoria] ([Id], [Nombre]) VALUES (3, N'Categoria 3')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Objeto] ON 

INSERT [dbo].[Objeto] ([Id], [Nombre], [Estado], [EnPrestamo], [Fk_Categoria], [Activo]) VALUES (1, N'Objeto 1', N'Disponible', 0, 1, NULL)
INSERT [dbo].[Objeto] ([Id], [Nombre], [Estado], [EnPrestamo], [Fk_Categoria], [Activo]) VALUES (2, N'Objeto 2', N'Disponible', 0, 2, NULL)
INSERT [dbo].[Objeto] ([Id], [Nombre], [Estado], [EnPrestamo], [Fk_Categoria], [Activo]) VALUES (3, N'Objeto 3', N'Prestado', 1, 3, NULL)
SET IDENTITY_INSERT [dbo].[Objeto] OFF
GO
SET IDENTITY_INSERT [dbo].[ObjetoReporte] ON 

INSERT [dbo].[ObjetoReporte] ([Id], [Estado], [Labo], [Fila], [Columna], [Lado]) VALUES (1, N'Buen estado', N'Laboratorio 1', 1, 2, N'Izquierdo')
INSERT [dbo].[ObjetoReporte] ([Id], [Estado], [Labo], [Fila], [Columna], [Lado]) VALUES (2, N'Daiado', N'Laboratorio 2', 3, 1, N'Derecho')
INSERT [dbo].[ObjetoReporte] ([Id], [Estado], [Labo], [Fila], [Columna], [Lado]) VALUES (3, N'Buen estado', N'Laboratorio 1', 2, 3, N'Izquierdo')
SET IDENTITY_INSERT [dbo].[ObjetoReporte] OFF
GO
SET IDENTITY_INSERT [dbo].[Prestamo] ON 

INSERT [dbo].[Prestamo] ([Id], [Estado], [FK_Objeto], [FK_Usuario], [FechaSolicitud], [FechaAceptado], [FechaEntregado], [FechaDevuelto], [FK_Admin]) VALUES (1, N'Pendiente', 1, 1, CAST(N'2023-06-01' AS Date), NULL, NULL, NULL, 1)
INSERT [dbo].[Prestamo] ([Id], [Estado], [FK_Objeto], [FK_Usuario], [FechaSolicitud], [FechaAceptado], [FechaEntregado], [FechaDevuelto], [FK_Admin]) VALUES (2, N'Aceptado', 2, 2, CAST(N'2023-06-02' AS Date), CAST(N'2023-06-02' AS Date), CAST(N'2023-06-03' AS Date), NULL, 2)
INSERT [dbo].[Prestamo] ([Id], [Estado], [FK_Objeto], [FK_Usuario], [FechaSolicitud], [FechaAceptado], [FechaEntregado], [FechaDevuelto], [FK_Admin]) VALUES (3, N'Entregado', 3, 3, CAST(N'2023-06-03' AS Date), CAST(N'2023-06-03' AS Date), CAST(N'2023-06-04' AS Date), NULL, 3)
SET IDENTITY_INSERT [dbo].[Prestamo] OFF
GO
SET IDENTITY_INSERT [dbo].[Reporte] ON 

INSERT [dbo].[Reporte] ([Id], [Estado], [Fk_Usuario], [Fk_ObjetoReporte], [Descripcion]) VALUES (1, N'Pendiente', 1, 1, N'Se rompio el objeto A')
INSERT [dbo].[Reporte] ([Id], [Estado], [Fk_Usuario], [Fk_ObjetoReporte], [Descripcion]) VALUES (2, N'Abierto', 2, 2, N'Se rompio el objeto B')
INSERT [dbo].[Reporte] ([Id], [Estado], [Fk_Usuario], [Fk_ObjetoReporte], [Descripcion]) VALUES (3, N'Resuelto', 1, 3, N'Se reparo el objeto C')
SET IDENTITY_INSERT [dbo].[Reporte] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Rol], [Nombre], [Apellido], [Dni]) VALUES (1, 1, N'Usuario 1', N'Apellido 1', 4654654)
INSERT [dbo].[Usuario] ([Id], [Rol], [Nombre], [Apellido], [Dni]) VALUES (2, 0, N'Usuario 2', N'Apellido 2', 5465465)
INSERT [dbo].[Usuario] ([Id], [Rol], [Nombre], [Apellido], [Dni]) VALUES (3, 0, N'Usuario 3', N'Apellido 3', 476875)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Objeto]  WITH CHECK ADD  CONSTRAINT [FK_Objeto_Categoria] FOREIGN KEY([Fk_Categoria])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Objeto] CHECK CONSTRAINT [FK_Objeto_Categoria]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Objeto] FOREIGN KEY([FK_Objeto])
REFERENCES [dbo].[Objeto] ([Id])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Objeto]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Usuario] FOREIGN KEY([FK_Usuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Usuario]
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD  CONSTRAINT [FK_Reporte_ObjetoReporte] FOREIGN KEY([Fk_ObjetoReporte])
REFERENCES [dbo].[ObjetoReporte] ([Id])
GO
ALTER TABLE [dbo].[Reporte] CHECK CONSTRAINT [FK_Reporte_ObjetoReporte]
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD  CONSTRAINT [FK_Reporte_Usuario] FOREIGN KEY([Fk_Usuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Reporte] CHECK CONSTRAINT [FK_Reporte_Usuario]
GO
USE [master]
GO
